<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style2.css">
<style>

</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="#contact"  style="color: #3b79de;">EMERGENCY HELPCARE</a>
  <a href="#home"  class=""id="move" style="position:static;">Home</a>
  <a href="#news" class="move">About</a>
  <a href="#contact" class="move">Contact</a>

  <a href="/register" class="move">register</a>

</div>

<div style="padding-left:16px">
	
	<h1 style="padding-top: 240px;padding-left: 190px; font: small-caps bold 44px/1 sans-serif;color:#1a0554;">WELCOME TO EMERGENCY HELPCARE</h1>
	<h4 style="padding-top: 40px;padding-left: 300px; font: small-caps bold 19px/1 sans-serif;color:#1a0554;">please Login into your account and then further proceed!!</h4>
	
    <button class="button" style="vertical-align:middle;color:whitesmoke"><a href="/login" style="color:white;"><span  >LOGIN</span></a></button>

 
	<img src="img/hero-bg.jpg" alt="image not found">
</div>
</body>
</html>