body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #f1f1f1;
}

.topnav a {
  float: left;
  display:flex;
  color: black;
  text-align:center;
  padding: 25px 20px;
  padding-left: 83px 50px;;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 3px solid transparent;
  font: small-caps bold 24px/1 sans-serif;
}

.topnav a:hover {
  border-bottom: 3px solid #94dde6;
  color:#fd4509;
}
#move{
	padding-left: 50%;
}
img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.button {
  display: inline-block;
  border-radius: 3px;
  background-color: #005fcd;
  border: none;
  color: #FFFFFF;
  text-align: center;
 
  font-size: 28px;
  padding: 20px;
  width: 190px;
  height: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 530px;
  margin-top: 100px;

  
  
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
  
}

.button span:after {
  content: '\00bb';
  position: absolute;
  
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 30px;
  color:#fd4509;
}

.button:hover span:after {
  opacity: 1;

  right: 0;
}
